<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Getting Started: Serving Web Content</title>
    <link href="/css/resume.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Resume - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" />

    <script src="/webjars/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>


    <!-- Custom fonts for this template -->
<!--    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">-->
<!--    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">-->
    <link href="webjars/font-awesome/5.7.2/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/resume.css" rel="stylesheet">
    <link rel="portfolio icon" type="image/x-icon" th:href="@{/img/favicon.ico}"/>

</head>

<body id="page-top">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none" th:text="${resume.getFirstName().toUpperCase() + ' ' + resume.getLastName().toUpperCase()}"  />
        <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.jpg" alt="profile">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#education">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
            </li>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>-->
<!--            </li>-->
        </ul>
    </div>
</nav>

<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
        <div class="w-100">
            <h1 class="mb-0" th:inline="text">
                [[${resume.getFirstName().toUpperCase()}]]
                <span class="text-primary" th:text="${resume.getLastName().toUpperCase()}" />
            </h1>
            <div class="subheading mb-5" th:inline="text">
                <span th:text="${resume.getAddress().getAddress() + '·' + resume.getAddress().getCity()+ '·' + resume.getAddress().getState() + '·' + resume.getAddress().getZipCode()}" /><br>
                <a th:href="'tel:' + ${resume.getPhone()}" th:text="${resume.getPhone()}" /><br>
                <a th:href="'mailto:'+${resume.getEmail()}" th:text="${resume.getEmail()}" />
                <div th:if="${resume.getResumeUrl() != null && !resume.getResumeUrl().isBlank()}" th:remove="tag">
                    <br><a th:text="${'Resume'}" th:href="${resume.getResumeUrl()}" download/>
                </div>
            </div>
            <p class="lead mb-5" th:text="${resume.getStatement()}" />
            <div class="social-icons" th:each="link: ${resume.getSocialLinks()}">

                <td th:switch="${link.getType()}">
                    <a th:case="'linkedin'" th:href="${link.getUrl()}">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a th:case="'github'" th:href="${link.getUrl()}">
                        <i class="fab fa-github"></i>
                    </a>
                    <a th:case="twitter" th:href="${link.getUrl()}">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a th:case="facebook" th:href="${link.getUrl()}">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </td>

<!--                <a href="#">-->
<!--                    <i class="fab fa-linkedin-in"></i>-->
<!--                </a>-->
<!--                <a href="#">-->
<!--                    <i class="fab fa-github"></i>-->
<!--                </a>-->
<!--                <a href="#">-->
<!--                    <i class="fab fa-twitter"></i>-->
<!--                </a>-->
<!--                <a href="#">-->
<!--                    <i class="fab fa-facebook-f"></i>-->
<!--                </a>-->
            </div>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
        <div class="w-100">
            <h2 class="mb-5">Experience</h2>

            <div th:each="ex: ${resume.getExperiences()}" class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 th:text="${ex.getCompany()}" class="mb-0"/>
                    <div th:text="${ex.getRole()}" class="subheading mb-3"/>
                    <div th:each="c: ${ex.getComment().split('\n')}">
                        <p th:text="${c}"/>
                    </div>
                </div>
                <div class="resume-date text-md-right">
                    <span th:text="${#dates.format(ex.getStartDate(), 'MMM yyyy') + ' ~ ' + #dates.format(ex.getEndDate(), 'MMM yyyy')}" class="text-primary" />
                </div>
            </div>

        </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
        <div class="w-100">
            <h2 class="mb-5">Education</h2>

            <div th:each="edu: ${resume.getEducations()}" class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 th:text="${edu.getInstitute()}" class="mb-0">University of Colorado Boulder</h3>
                    <div th:text="${edu.getProgram() + ' - ' + edu.getMajor()}" class="subheading mb-3" />
                    <div th:text="${edu.getComment()}" />
                </div>
                <div class="resume-date text-md-right">
                    <span th:text="${#dates.format(edu.getStartDate(), 'MMM yyyy') + ' ~ ' + #dates.format(edu.getEndDate(), 'MMM yyyy')}" class="text-primary" />
                </div>
            </div>

        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
        <div class="w-100">
            <h2 class="mb-5">Skills</h2>

            <div class="subheading mb-3">Programming Languages &amp; Tools</div>
            <ul class="list-inline dev-icons">
                <div th:each="skill: ${resume.getSkills()}" th:remove="tag">
                    <div th:switch="${skill.toLowerCase()}" th:remove="tag">
                        <li th:case="java" class="list-inline-item">
                            <i class="fab fa-java"></i>
                        </li>
                        <li th:case="html" class="list-inline-item">
                            <i class="fab fa-html5"></i>
                        </li>
                        <li th:case="css" class="list-inline-item">
                            <i class="fab fa-css3-alt"></i>
                        </li>
                        <li th:case="javascript" class="list-inline-item">
                            <i class="fab fa-js-square"></i>
                        </li>
                        <li th:case="angular" class="list-inline-item">
                            <i class="fab fa-angular"></i>
                        </li>
                        <li th:case="react" class="list-inline-item">
                            <i class="fab fa-react"></i>
                        </li>
                        <li th:case="nodejs" class="list-inline-item">
                            <i class="fab fa-node-js"></i>
                        </li>
                        <li th:case="sass" class="list-inline-item">
                            <i class="fab fa-sass"></i>
                        </li>
                        <li th:case="less" class="list-inline-item">
                            <i class="fab fa-less"></i>
                        </li>
                        <li th:case="wordpress" class="list-inline-item">
                            <i class="fab fa-wordpress"></i>
                        </li>
                        <li th:case="gulp" class="list-inline-item">
                            <i class="fab fa-gulp"></i>
                        </li>
                        <li th:case="git" class="list-inline-item">
                            <i class="fab fa-git"></i>
                        </li>
                    </div>
                </div>
            </ul>

<!--            <div class="subheading mb-3">Workflow</div>-->
<!--            <ul class="fa-ul mb-0">-->
<!--                <li>-->
<!--                    <i class="fa-li fa fa-check"></i>-->
<!--                    Mobile-First, Responsive Design</li>-->
<!--                <li>-->
<!--                    <i class="fa-li fa fa-check"></i>-->
<!--                    Cross Browser Testing &amp; Debugging</li>-->
<!--                <li>-->
<!--                    <i class="fa-li fa fa-check"></i>-->
<!--                    Cross Functional Teams</li>-->
<!--                <li>-->
<!--                    <i class="fa-li fa fa-check"></i>-->
<!--                    Agile Development &amp; Scrum</li>-->
<!--            </ul>-->
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="Interests">
        <div class="w-100">
            <h2 class="mb-5">Interests</h2>
            <p>Apart from being a web developer, I enjoy most of my time being outdoors. Living at a island around ocean, I love to stay at the beach and also I'm a beginner of surfing.</p>
            <p class="mb-0">When forced indoors, I follow a number of sci-fi and crime genre movies and television shows, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
        </div>
    </section>

<!--    <hr class="m-0">-->

<!--    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="Contacts">-->
<!--        <div class="w-100">-->
<!--            <h2 class="mb-5">Contact Me</h2>-->
<!--            <p th:if="${resume.getContactComment() != null && !resume.getContactComment().isBlank()}" th:text="${resume.getContactComment()}"></p>-->
<!--            <-->
<!--            <p>Apart from being a web developer, I enjoy most of my time being outdoors. Living at a island around ocean, I'm beginner of surfing.</p>-->
<!--            <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>-->
<!--        </div>-->
<!--    </section>-->

<!--    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">-->
<!--        <div class="w-100">-->
<!--            <h2 class="mb-5">Awards &amp; Certifications</h2>-->
<!--            <ul class="fa-ul mb-0">-->
<!--                <li>-->
<!--                    <i class="fa-li fa fa-trophy text-warning"></i>-->
<!--                    Google Analytics Certified Developer</li>-->
<!--                <li>-->
<!--                    <i class="fa-li fa fa-trophy text-warning"></i>-->
<!--                    Mobile Web Specialist - Google Certification</li>-->
<!--                <li>-->
<!--                    <i class="fa-li fa fa-trophy text-warning"></i>-->
<!--                    1<sup>st</sup>-->
<!--                    Place - University of Colorado Boulder - Emerging Tech Competition 2009</li>-->
<!--                <li>-->
<!--                    <i class="fa-li fa fa-trophy text-warning"></i>-->
<!--                    1<sup>st</sup>-->
<!--                    Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)</li>-->
<!--                <li>-->
<!--                    <i class="fa-li fa fa-trophy text-warning"></i>-->
<!--                    2<sup>nd</sup>-->
<!--                    Place - University of Colorado Boulder - Emerging Tech Competition 2008</li>-->
<!--                <li>-->
<!--                    <i class="fa-li fa fa-trophy text-warning"></i>-->
<!--                    1<sup>st</sup>-->
<!--                    Place - James Buchanan High School - Hackathon 2006</li>-->
<!--                <li>-->
<!--                    <i class="fa-li fa fa-trophy text-warning"></i>-->
<!--                    3<sup>rd</sup>-->
<!--                    Place - James Buchanan High School - Hackathon 2005</li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </section>-->

</div>

<!-- Bootstrap core JavaScript -->
<!--<script src="vendor/jquery/jquery.min.js"></script>-->
<!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

<!-- Plugin JavaScript -->
<script src="webjars/jquery-easing/1.4.1/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/resume.min.js"></script>

</body>

</html>